$base-color:#ffffff;
$main-color:#bcff67;
$accent-color:#004f4f;

body {
    color: #004f4f;

    h1 {
        font-size: x-large;
    }

    #contents-tab {

        display: flex;

        flex-direction: column;

        section {

            display: flex;

            h2 {
                width: 15vw;
                height: 15vw;

                background-color: #bcff67;
            }
    
            .tab-content {
                display: none;
                align-items: center;

                position: absolute;
                left: 15vw;
                top: 0;

                width: 70vw;
                height: 100vh;

                p {
                    width: 70vw;
                    text-align: center;
                }
                
            }
        }

        section:nth-child(odd){
            display: flex;
            flex-direction: row-reverse;
        }
    }

}