$base-color:#ffffff79;
$main-color:#deffb3;
$accent-color:#003881;

body {
    color: $accent-color;
    background-color: $base-color;
    font-family: 'Open Sans','Zen Kaku Gothic New', sans-serif;
    
    h1 {
        height: 10vh;

        font-size: 32px;
        text-align: center;
    }

    #nav {
        display: flex;
        flex-direction: column;

        position: sticky;
        top: 0;
        
        .tab-title{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 15vw;
            height: 15vh;

            background-color: $base-color;

            border-color: $main-color;
            border-width: 5px;
            border-style: double;

            transition: 500ms;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;

        border-color: $main-color;
        border-width: 5px;
        border-style: double;

        h2{
            display: none;
        }

        .tab-content{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 70vw;
            height: 100vh;

        }
    }

    // @media screen and (min-width: 1000px){
    //         section:nth-child(odd){
    //             display: flex;
    //             flex-direction: row-reverse;
    //         }
    //     }
    //}

    .draw-tile {
        position: fixed;
        left: 0;
        top: 0;

        z-index: -10000;

        width: 32px;
        height: 32px;

        transition: 100ms;
    }
    
    .draw-tile-odd {
        background-color: $main-color;
    }

    .draw-tile-even {
        border-width: 1px;
        border-color: #deffb3;

        background-color: $base-color;
    }

    .scroll-guide {
        align-items: center;
        display: flex;

        position: fixed;
        left: 20vw;
        top: 95vh;

        width: 60vw;
        // height: 5vh;

        p {
            width: 60vw;
            
            flex-direction: column-reverse;
            justify-content: flex-end;
            text-align: center;
        }
    }
}