$base-color:#ffffff89;
$main-color:#deffb3;
$accent-color:#003881;

html {
    scroll-behavior: smooth;
}

body {
    color: $accent-color;
    background-color: $base-color;
    font-family: 'Open Sans','Zen Kaku Gothic New', sans-serif;

    h1 {
        height: 10vh;

        font-size: 48px;
        text-align: center;
    }

    #nav {
        display: flex;
        flex-direction: column;

        position: sticky;
        top: 0;

        width: 100vw;

        a {
            width: 15vw;
        
            .tab-title{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 15vw;
                height: 15vh;

                background-color: $base-color;

                border-color: $main-color;
                border-width: 5px;
                border-style: double;

                transition: 500ms;                        
            }

            &:nth-of-type(odd) {
                align-self: flex-end;
            }
        }
    }



    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;

        // border-color: $main-color;
        // border-width: 5px;
        // border-style: double;

        
        h2{
            display: none;
        }

        .tab-content{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            position: relative;

            width: 70vw;
            height: 100vh;

            font-size: 32px;

            img {
                width: 20%;

                margin: 10px;
            }

            span {
                display: inline-block;

                width: 20px;
                height: 24px;

                border-radius: 10px;
                border-color: $accent-color;
                border-width: 1px;
                
                font-family: 'Bree Serif', sans-serif;
                font-size: 18px;

                text-align: center;
            }

        }
    
    }

    @media screen and (max-width: 1000px){
        h1 {
            font-size: 28px;
        }

        #nav{
            a {
                align-self:flex-end;
            }
        }

        .content{    
            .tab-content{
                font-size: 16px;
            }
        }
    }

    .draw-section {
        position: fixed;
        left: 0;
        top: 0;

        z-index: -10000;
        transform: rotate(0deg);
    
        transition: 1000ms;

        .draw-tile {
            position: fixed;
            left: 0;
            top: 0;

            z-index: -10000;

            width: 32px;
            height: 32px;
        }

        .draw-tile-odd {
            background-color: $main-color;
        }
        
        .draw-tile-even {
            border-width: 1px;
            border-color: #deffb3;

            background-color: $base-color;
        }
    }

    .scroll-guide {
        align-items: center;
        display: flex;

        width: 80vw;

        p {
            width: 60vw;
            
            flex-direction: column-reverse;
            justify-content: flex-end;
            text-align: center;
        }
    }
}